.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .text-container {
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  
  .carousel-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    overflow-x: scroll;
  }
  
  .gutter-row {
    display: inline-block;
    white-space: normal;
    margin-right: 10px;
  }
  
  .centered-row {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 20px;
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  @media screen and (min-width: 767px) {
    .gutter-row {
      margin-right: 0;
    }
  }
  